# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*.class
venv/
env/
.env
.venv/
functions/venv/

# Firebase
.firebase/
firebase-export/
*.log

# Editor
.vscode/
.idea/
*.sw?

# OS
.DS_Store
Thumbs.db
